/* iPhone 4/4S */
@media only screen and (min-device-width: 320px) and (max-device-width: 
480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
	body { background-color: #EEE; }
}

/* iPhone 5 */
@media screen and (device-aspect-ratio: 40 / 71) {
	body { background-color: #EEE; }
}

/* Safari */
@media not all and (min-resolution:0.001dpcm) {
	@supports (-webkit-appearance:none) {
		.hHeading { color:#5A5 !important; }
	}
 }

.sFooter { color: #777; }
