@media only screen and (max-width: 599px)
and (min-device-width: 600px){
	body {
		background-color:#90EE90;
	}
}

body {
	font-family: Serif;
}

div
{
	width:100%;
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
}

h4
{
	background-color:#D5D5D5;
	color:#FF5733;
	padding-left:8px;
	padding-right:8px;
}
@media only screen and (min-width : 540px) {
	h4 {
		margin: 0 auto;
		width: 500px;
	}
}
@media only screen and (min-width : 720px) {
	h4 {
		margin: 0 auto;
		width: 680px;
	}
}
@media only screen and (min-width : 960px) {
	h4 {
		margin: 0 auto;
		width: 920px;
	}
}
@media only screen and (min-width : 1140px) {
	h4 {
		margin: 0 auto;
		width: 1100px;
	}
}

span { color:#777; }
