@media only screen and (max-width: 599px) {
	body {
		background-color:#90EE90;
	}
}

div
{
	width:100%;
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
}

h4
{
	background-color:#D5D5D5;
	color:#FF5733;
	padding-left:8px;
	padding-right:8px;
}

span { color:#777; }
